.table {
    position: fixed;
    left: 700px;
    top: auto;
}

.flip-box-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}